
*.csv

*.xlsx

*.txt

data/*

test_results/*

checkpoints/*

results/*

*.ipynb

*.npy

*.npz

*.pth

*.pkl

*.ts

*.pdf

*.DS_store

data

res/*

*.out

res

*.ipynb

scripts/*

nohup.*

*.sh

*.log